.right {
    float: right;
}
.left {
    float: left;
}

.page-slider {
    display: block;
    height: 310px;
    width: 908px;
}
    .page-slider a.browse {
        background-color: #444444;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 25px;
        height: 100%;
        line-height: 310px;
        text-align: center;
        width: 30px;
    }
        .page-slider a.browse:hover {
            text-decoration: none;
        }

    .page-slider .slides {
        display: block;
        height: 100%;
        overflow: hidden;
    }
        .page-slider .slide {
            height: 100%;
            position: relative;
            width: 100%;
        }
            .page-slider .slide .content {
                background-color: rgb(68, 68, 68);
                background-color: rgba(68, 68, 68, 0.9);
                bottom: 20px;
                left:20px;
                min-height: 0;
                min-width: 300px;
                padding: 15px 10px;
                position: absolute;
                max-width: 500px;
            }
                
                .page-slider .slide h2 {
                    font-size: 20px;
                    margin: 0 0 10px;
                }
                .page-slider .slide h2,
                .page-slider .slide .description {
                    color: #fff;
                }
                .page-slider .slide a {
                    color: #fff;
                }
                .page-slider .slide .description {
                    color: #fff;
                    margin: 15px 0;
                }
                
	

	